h1.red-title{
	color: #0066FF; 
	font-family: Papyrus;
}

 h2,h3,h4,h5,h6{
 	color: red;
 }

 div.second-group ol{
 	font-style: italic

 }
div.first-group {
	width: 700px;
	border: 10px solid black;
	border-radius: 20px;
	text-align: center;
		
}
 body {
 	background-color: #CCFFCC
 }

